$font-family: "Helvetica Neue",Arial,sans-serif;
//grid
$grid-col: 12;

//buttons
$background: background;

$color : color;
//backg
$primary: #0275d8;
$secondary: #e6e6e6;
$success: #449d44;
$info: #31b0d5;
$warning: #f0ad4e;
$danger: #d9534f;
$link: transparent;

//color
$colorw: #ffffff;
$colorb: #292b2c;
$colorbl: #0275d8;
//images
$border-radius: none;
$shape-r: 6px;
$shape-c: 50%;
$shape-t: 4px;
//$shape-c: #{"50%"};

//couleurs
$muted: #636c72;

//alerts
$border-color: border-color;
$bg-alg: #dff0d8;
$bg-alb: #d9edf7;
$bg-alo: #fcf8e3;
$bg-alr: #f2dede;
$b-coloralg: #d0e9c6;
$b-coloralb: #bcdff1;
$b-coloralo: #faf2cc;
$b-coloralr: #ebcccc;            
$text-alg: #3c763d;
$text-alb: #31708f;
$text-alo: #8a6d3b;
$text-alr: #a94442;