.body {
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 100%; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-1 {
      float: left;
      width: 8.33333%; } }

.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-2 {
      float: left;
      width: 16.66667%; } }

.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-3 {
      float: left;
      width: 25%; } }

.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-4 {
      float: left;
      width: 33.33333%; } }

.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-5 {
      float: left;
      width: 41.66667%; } }

.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-6 {
      float: left;
      width: 50%; } }

.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-7 {
      float: left;
      width: 58.33333%; } }

.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-8 {
      float: left;
      width: 66.66667%; } }

.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-9 {
      float: left;
      width: 75%; } }

.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-10 {
      float: left;
      width: 83.33333%; } }

.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-11 {
      float: left;
      width: 91.66667%; } }

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 0px) {
    .col-xs-12 {
      float: left;
      width: 100%; } }

.col-sm-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-1 {
      float: left;
      width: 8.33333%; } }

.col-sm-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-2 {
      float: left;
      width: 16.66667%; } }

.col-sm-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-3 {
      float: left;
      width: 25%; } }

.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-4 {
      float: left;
      width: 33.33333%; } }

.col-sm-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-5 {
      float: left;
      width: 41.66667%; } }

.col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-6 {
      float: left;
      width: 50%; } }

.col-sm-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-7 {
      float: left;
      width: 58.33333%; } }

.col-sm-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-8 {
      float: left;
      width: 66.66667%; } }

.col-sm-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-9 {
      float: left;
      width: 75%; } }

.col-sm-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-10 {
      float: left;
      width: 83.33333%; } }

.col-sm-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-11 {
      float: left;
      width: 91.66667%; } }

.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 768px) {
    .col-sm-12 {
      float: left;
      width: 100%; } }

.col-md-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-1 {
      float: left;
      width: 8.33333%; } }

.col-md-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-2 {
      float: left;
      width: 16.66667%; } }

.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-3 {
      float: left;
      width: 25%; } }

.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-4 {
      float: left;
      width: 33.33333%; } }

.col-md-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-5 {
      float: left;
      width: 41.66667%; } }

.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-6 {
      float: left;
      width: 50%; } }

.col-md-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-7 {
      float: left;
      width: 58.33333%; } }

.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-8 {
      float: left;
      width: 66.66667%; } }

.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-9 {
      float: left;
      width: 75%; } }

.col-md-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-10 {
      float: left;
      width: 83.33333%; } }

.col-md-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-11 {
      float: left;
      width: 91.66667%; } }

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 992px) {
    .col-md-12 {
      float: left;
      width: 100%; } }

.col-lg-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-1 {
      float: left;
      width: 8.33333%; } }

.col-lg-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-2 {
      float: left;
      width: 16.66667%; } }

.col-lg-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-3 {
      float: left;
      width: 25%; } }

.col-lg-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-4 {
      float: left;
      width: 33.33333%; } }

.col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-5 {
      float: left;
      width: 41.66667%; } }

.col-lg-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-6 {
      float: left;
      width: 50%; } }

.col-lg-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-7 {
      float: left;
      width: 58.33333%; } }

.col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-8 {
      float: left;
      width: 66.66667%; } }

.col-lg-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-9 {
      float: left;
      width: 75%; } }

.col-lg-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-10 {
      float: left;
      width: 83.33333%; } }

.col-lg-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-11 {
      float: left;
      width: 91.66667%; } }

.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background: #ccc;
  border: 1px solid #cbc4d8; }
  @media (min-width: 1200px) {
    .col-lg-12 {
      float: left;
      width: 100%; } }

.button {
  float: left;
  margin-top: 5%;
  clear: both; }

.btn-primary {
  background: #0275d8;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out; }
  .btn-primary:focus {
    outline: none; }
  .btn-primary:disabled {
    opacity: 0.4; }
  .btn-primary:active {
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5); }

.btn-secondary {
  background: #e6e6e6;
  color: #292b2c;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out; }
  .btn-secondary:focus {
    outline: none; }
  .btn-secondary:disabled {
    opacity: 0.4; }
  .btn-secondary:active {
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5); }

.btn-success {
  background: #449d44;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out; }
  .btn-success:focus {
    outline: none; }
  .btn-success:disabled {
    opacity: 0.4; }
  .btn-success:active {
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5); }

.btn-info {
  background: #31b0d5;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out; }
  .btn-info:focus {
    outline: none; }
  .btn-info:disabled {
    opacity: 0.4; }
  .btn-info:active {
    box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5); }

.btn-warning {
  background: #f0ad4e;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out; }
  .btn-warning:focus {
    outline: none; }
  .btn-warning:disabled {
    opacity: 0.4; }
  .btn-warning:active {
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5); }

.btn-danger {
  background: #d9534f;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out; }
  .btn-danger:focus {
    outline: none; }
  .btn-danger:disabled {
    opacity: 0.4; }
  .btn-danger:active {
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5); }

.btn-link {
  background: transparent;
  color: #0275d8;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out; }
  .btn-link:focus {
    outline: none; }
  .btn-link:disabled {
    opacity: 0.4; }
  .btn-link:active {
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25); }
  .btn-link:hover {
    text-decoration: underline; }

.images {
  margin-top: 5%;
  margin-bottom: 5%;
  float: left;
  clear: both; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.img-rounded {
  width: 140px;
  height: 140px;
  margin: 5px;
  border-radius: 6px; }

.img-circle {
  width: 140px;
  height: 140px;
  margin: 5px;
  border-radius: 50%; }

.img-thumbnail {
  width: 140px;
  height: 140px;
  margin: 5px;
  border-radius: 4px;
  display: inline-block;
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd; }

.img-blur {
  width: 140px;
  height: 140px;
  margin: 5px;
  border-radius: 6px;
  filter: blur(5px); }

.text-colors {
  float: left;
  clear: both; }

.text-muted {
  color: #636c72;
  margin-top: 0;
  margin-bottom: 1rem; }

.text-primary {
  color: #0275d8;
  margin-top: 0;
  margin-bottom: 1rem; }

.text-success {
  color: #449d44;
  margin-top: 0;
  margin-bottom: 1rem; }

.text-info {
  color: #31b0d5;
  margin-top: 0;
  margin-bottom: 1rem; }

.text-warning {
  color: #f0ad4e;
  margin-top: 0;
  margin-bottom: 1rem; }

.text-error {
  color: #d9534f;
  margin-top: 0;
  margin-bottom: 1rem; }

.bg-colors {
  float: left;
  clear: both;
  margin-top: 5%; }

.bg-muted {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #636c72;
  color: #ffffff; }

.bg-primary {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #0275d8;
  color: #ffffff; }

.bg-success {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #449d44;
  color: #ffffff; }

.bg-info {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #31b0d5;
  color: #ffffff; }

.bg-warning {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #f0ad4e;
  color: #ffffff; }

.bg-error {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #d9534f;
  color: #ffffff; }

.alerts {
  float: left;
  clear: both;
  margin-top: 5%; }

.alert-success {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: block;
  background: #dff0d8;
  color: #3c763d;
  border-color: #d0e9c6; }

.alert-info {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: block;
  background: #d9edf7;
  color: #31708f;
  border-color: #bcdff1; }

.alert-warning {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: block;
  background: #fcf8e3;
  color: #8a6d3b;
  border-color: #faf2cc; }

.alert-danger {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: block;
  background: #f2dede;
  color: #a94442;
  border-color: #ebcccc; }

/*# sourceMappingURL=style.css.map */
